#midiOutputViewerContainer {
    display: flex;
    width: 15em;
}

#midiOutputViewerContainer > * {
    margin: 0 5px;
}

#outputChord {
    display: flex;
    height: 1.2em;
}

#outputChord_root {
    font-size: 120% !important;
}

#outputChord_extension {
    font-size: 80% !important;
}

#outputChord_alterations {
    font-size: 70% !important;
}