#sessionControlContainer {
    padding: 20px;
    display: flex;

    flex-direction: column;

    background-color: inherit;
}

#sessionStartStopButton {
    width: 10em;
}

#sessionInputContainer {
    padding: 5px;
    display: flex;
}

#sessionInfoContainer {
    padding: 5px;
    display: flex;
    align-items: center;
}

#sessionInfoContainer > * {
    padding: 10px;
}

.viewerContainer {
    background-color: darkblue;
}