body * {
    font-size: 110% !important;
}

#page {
    display: none;
    flex-direction: column;

    padding: 10px;
}

#page > * {
    padding: 10px;
}

.shadow {
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}