body * {
    font-size: 110% !important;
}

#sessionControlContainer {
    padding: 20px;
    display: flex;
    width: 28em;

    flex-direction: column;
}

#sessionInputContainer {
    padding: 5px;
    display: flex;
}

.midiContainer {
    display: flex !important;
    align-items: center;
}

#page {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

#page > * {
    padding: 10px;
}

.chooseMidiDeviceButton {
    padding: 10px;
    width: 10em;
}

.midiDevicesContainer {
    background: #fff;
    border-radius: 2px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#midiDevicesContainer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mididevice {
    cursor: pointer;
}

.mididevice:hover {
    background: #ececff;
}

.mididevice.selected {
    background: #eee;
    font-weight: bold;
}

#sessionInfoContainer {
    padding: 5px;
    display: flex;

    flex-direction: column;
}

#sessionInfoContainer > * {
    padding: 10px;
}

#midiInputViewerContainer {
    display: flex;
}

#midiInputViewerContainer > * {
    margin: 0 5px;
}

#midiOutputViewerContainer {
    display: flex;
}

#midiOutputViewerContainer > * {
    margin: 0 5px;
}

.shadow {
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

#outputChord {
    display: flex;
    flex-direction: row;
}

#outputChord_root {
    font-size: 120% !important;
}

#outputChord_extension {
    font-size: 80% !important;
}

#outputChord_alterations {
    font-size: 70% !important;
}